<HTML><HEAD><TITLE>Hello from <%= @fqdn %></TITLE></HEAD>
  <BODY>
    <H1>This is the machine <%= @hostname %>
      <OL>
        <% @interfaces.split(',').each do |inif| -%>
        <LI>Interface: <%= inif %>
        <% end -%>
      </OL>
      Uptime: <%= @uptime %><BR>
      <% if @last_puppet_time -%>
        Last Puppet Time: <%= @last_puppet_time %><BR>
      <% end -%>
  </BODY>
</HTML>
