<HTML><HEAD><TITLE>Hello from <%= @fqdn %></TITLE></HEAD>
  <BODY>
    <H1>This is the machine <%= @hostname %>
      <OL>
        <% @interfaces.split(',').each do |inif| -%>
        <LI>Interface: <%= inif %>
        <% end -%>
      </OL>
      <DL>
        <dt>Uptime: </dt><dd><%= @uptime %></dd>
        <% if @last_puppet_time -%><dt>Last Puppet Time: </dt><dd><%= @last_puppet_time %></dd><% end -%>
      </dl>
  </BODY>
</HTML>
